.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
}

circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;

}

circle:nth-of-type(1) {
  stroke-dasharray: 550;
  animation-delay: 0.15s;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500;
  animation-delay: 0.3s;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450;
  animation-delay: 0.45s;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300;
  animation-delay: 0.6s;
}
@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}